@model Course

@{
    ViewBag.Title = "New Course";
}

<form method="post" asp-action="SaveNew" asp-controller="Course">

    <partial name="CRUDPartialView" />
    <br />
    <button type="submit" class="btn btn-outline-primary">Save</button>
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}